{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block jumbotron %}
{% endblock %}

{% block content %}
<div class = "row col-md-8 col-md-offset-2">
<form method="post" action=".">
  {% csrf_token %} 
  {{ form | crispy }}

  <input class = "btn btn-primary " type="submit" value="{% trans 'Log in' %}" />
  <br>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<br>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</div>
{% endblock %}
