{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

{% block jumbotron_content %}




<div class = "row visible-desktop">

	<div class = "col-sm-6 col-md-7">
		<br><br>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/UmU4KX7nxYs" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class = "col-sm-6 col-md-5 white-letter ">
	<br><br>
		<h1 class = "lead">Enjoy</h1>
		<p></p>
		<br>
		<p>The Best of Classical Music - Mozart, Beethoven, Bach, Chopin... </p>
		<p>
		<br>
		<a class="btn btn-lg red-background white-letter" href="{{random_video.get_absolute_url}}" role="button">
		<span>Pick one</span> </a>
		</p>
	</div>

</div>
{% endblock %}



{% block content %}
<div class = 'row'>
	{% for video in random_videos %}
		<div class = "col-sm-6 col-md-3" style = "">
			<a href="{{ video.get_absolute_url }}">
				<img style="width:100%" src='{{video.video_img_url}}'/>
				<br>
				<div class="title">
					{{video.title}}
				</div>
				<br>
			</a>
		</div>

	{% cycle '' '' '' '</div><div class = "row">' %}
	{% endfor %}
</div>

{% endblock %}
</div>