{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}


{% block jumbotron%}
{% endblock %}




{% block content %}
<br><br><br>
<div class = 'row'>
	<div class = "col-sm-10">
		<div class = 'row'>
			<h2>{{object.title}}</h2>
		</div>
		<br>
		<div class = 'row'>
			{{object.video_url | safe}}
		</div>
		<br>
		<div class = 'row'>
		</div>
	</div>
	<div class = "col-sm-2 pull-right">
		<div class = 'row'>
			<h3>Related Videos</h3>
		</div>
		<hr>
		{% for video in related %}
		<div class = 'row'>
			<a href="{{ video.get_absolute_url }}">
				<img style="width:100%" src='{{video.video_img_url}}'/>
				<div style ="text-align: center">
					{{video.title}}
				</div>
			</a>
		</div>
		<br>
		{% endfor %}
	</div>
</div>
{% endblock %}