{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}


{% block jumbotron%}
{% endblock %}



{% block content %}
<br><br>
<div class = 'row'>
	{% for video in video_list %}
		<div class = "col-sm-6 col-md-3" style = "max-width:50%">
			<a href="{{ video.get_absolute_url }}">
				<img style="width:100%" src='{{video.video_img_url}}'/>
				<div style ="text-align: center">
					{{video.title}}
				</div>
			</a>
		</div>

	{% cycle '' '' '' '</div><br><div class = "row">' %}
	{% endfor %}


</div>
{% endblock %}













