{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}


{% block jumbotron%}
{% endblock %}




{% block content %}
<br><br><br>
<div class = 'row'>
	<div class = "col-sm-8">
		<div class = 'row'>
			<h3 class= "lead">{{object.title}}</h3>
		</div>
		<hr>
		<div class = 'row'>
			{{object.video_url | safe}}
		</div>
		<br>
		<div class = 'row'>
			comment 
		</div>
	</div>
	<div class = "col-sm-3 pull-right">
		<div class = 'row'>
			<h3 class= "lead">Related Videos</h3>
		</div>
		<hr>
		<div class = 'row'>
			{% for video in related %}
				<div class = "thumbnail col-md-6">
				<p>
				<a href="{{video.get_absolute_url}}">{{video.title}}</a>
				</p>
				<div>
				{% cycle '' '</div><div class = "row">' %}
			{% endfor %}
		</div>
		<div class = 'row'>
		</div>
	</div>
</div>
{% endblock %}