{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}


{% block jumbotron%}
{% endblock %}




{% block content %}
<div class = 'row'>
	<div class = "col-md-9">
		<div class = 'row'>
			{{object.title}}
		</div>
		<div class = 'row'>
			related tag link here
		</div>
		<div class = 'row'>
			video here
		</div>
		<div class = 'row'>
			comment here
		</div>
	</div>
	<div class = "col-md-3">
		<div class = 'row'>
			<h3> Related Videos</h3>
		</div>
		<hr>
		<div class = 'row'>
			video image
		</div>
		<div class = 'row'>
			video name
		</div>
	</div>
</div>
{% endblock %}